body, html {
    height: 100%;
}
h1, h2, h3, h4 {
    font-weight: 800;
}

section {
    margin-bottom: 80px;
}
.hero {
    width: 100%;
    height: 100%;
    background: url("../img/moon.jpg") no-repeat fixed center;
    background-size: cover;
    z-index: -1;
    display: flex;
    text-align: center;
    div {
        color: white;
    }
}
.navigation {
    position: fixed;
    top: 0;
    width: 100%;
    li {
        font-weight: bold;
    }
}
.nav-transparent {
    background-color: none;
    transition: background-color 300ms linear;
}
.nav-colored {
    background-color: rgb(228, 228, 228);
    border-bottom: 1px solid #d2d2d2;
    transition: background-color 300ms linear;
}
.text-image {
    margin-bottom: 100px;
}
.features {
    background-color: $light-gray;
    padding: 30px 20px;
}