<footer>
    <div class="grid-container">
        <div class="grid-x grid-padding-x grid-padding-y medium-up-2 large-up-4 text-center medium-text-left">
            <div class="cell">
                <ul class="vertical menu ">
                    <li class="menu-text">Main</li>
                    <li><a href="#">One</a></li>
                    <li><a href="#">Two</a></li>
                    <li><a href="#">Three</a></li>
                    <li><a href="#">Four</a></li>
                  </ul>
            </div>
            <div class="cell">
                <ul class="vertical menu">
                    <li class="menu-text">Main</li>
                    <li><a href="#">One</a></li>
                    <li><a href="#">Two</a></li>
                    <li><a href="#">Three</a></li>
                    <li><a href="#">Four</a></li>
                  </ul>
            </div>
            <div class="cell">
                <ul class="vertical menu">
                    <li class="menu-text">Main</li>
                    <li><a href="#">One</a></li>
                    <li><a href="#">Two</a></li>
                    <li><a href="#">Three</a></li>
                    <li><a href="#">Four</a></li>
                  </ul>
            </div>
            <div class="cell">
                <ul class="vertical menu">
                    <li class="menu-text">Main</li>
                    <li><a href="#">One</a></li>
                    <li><a href="#">Two</a></li>
                    <li><a href="#">Three</a></li>
                    <li><a href="#">Four</a></li>
                  </ul>
            </div>
        </div>
        <div class="grid-x grid-padding-x grid-padding-y text-center medium-text-left align-justify">
            <div class="cell medium-shrink">
                <small>General conditions | Privacy policy</small>
            </div>
            <div class="cell medium-shrink">
                <small>Copyright 2021, MySite</small>
            </div>
        </div>
    </div>
</footer>