<div class="title-bar align-justify" data-responsive-toggle="responsive-menu" data-hide-for="medium">
    <div class="title-bar-title"><img class="moblogo" src="../assets/img/black.png"></div>
    <button class="hamburger hamburger--spin" type="button" data-toggle="responsive-menu" id="mobtoggle">
        <span class="hamburger-box">
          <span class="hamburger-inner"></span>
        </span>
      </button>
      
</div>

<nav class="nav nav-empty" id="responsive-menu">
    <div class="top-bar">
        <div class="top-bar-left show-for-medium">
            <img class="sitelogo hide" id="blacklogo" src="../assets/img/black.png">
            <img class="sitelogo" id="whitelogo" src="../assets/img/white.png">
            
        </div>
        <div class="top-bar-right">
            <ul class="vertical medium-horizontal menu" data-responsive-menu="accordion medium-dropdown">
                <li>
                    <a href="home.html">Home</a>
                    <ul class="menu vertical align-left">
                        <li><a href="#">One</a></li>
                        <li><a href="#">Two</a></li>
                        <li><a href="#">Three</a></li>
                    </ul>
                </li>
                <li><a href="page.html">Page 1</a></li>
                <li><a href="#">Link 2</a></li>
                <li><a href="#">Link 3</a></li>
                <li><a href="#" class="button">Log in</a></li>
            </ul>
        </div>
    </div>
</nav>
